body {
	background-color: #CAC09C;
}

h1,h3{
	font-family: Calibri,sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

h3 {
	color: #675E3D;
}

#characters{
	width: 440px;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,0.4);
}

#characters .unclicked{
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	width:40px;
	height: 40px;
	margin: 2px;
	font-weight: 600;
}

#hangwords{
	text-align: center;
	width: 440px;
	height: 60px;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,0.4);
}

#hangwords .guesschr{
	font-weight: 600;
	font-size: 1.3em;
	width: 25px;
	display: inline-block;
	height: 30px;
	border-bottom: 3px solid grey;
	margin-left: 8px;
}

#tried{
	font-weight: 600;
	font-size: 1.3em;
	letter-spacing: 3px;
	text-align: center;
	width: 440px;
	height: 30px;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,0.4);
}

#leftish{
	float: left;
	margin-right: 100px;
}

#lrightish{
	float: left;
}

#content {

	background-color: #ededed;
	padding: 2em;
	margin: 0 auto;
	height: 500px;
	width: 800px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 0px rgba(50,50,50,0.4);
}
